cert.pem
key.pem
ca.pem
target
*/bin
*.log
.buildpath
.metadata
.classpath
.factorypath
.settings/
.project

*/.springBeans
*/paho*
*.pem
config/manifest-with-credentials.yml
manifest-with-credentials.yml
config/application.pid
config/logging.file_IS_UNDEFINED
custom-mongodb/application.pid
registry/application.pid
registry/logging.file_IS_UNDEFINED
